@charset "UTF-8";
/******** VARIÁVEIS CONFIG ********/
/******** RESET ********/
/* line 11, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/main.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 17, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/main.scss */
html {
  scroll-behavior: smooth; }

/* line 21, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/main.scss */
ul, li {
  list-style: none; }

/* line 25, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/main.scss */
img {
  width: 100%;
  display: block; }

/* line 30, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/main.scss */
a {
  text-decoration: none; }

/******** MIXINS ********/
/******** PÁGINA ********/
/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_header.scss */
.header {
  background-color: #F85A3E;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 20vh; }
  /* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_header.scss */
  .header .titulo__principal {
    font-family: "Righteous", cursive;
    color: #fff; }
  /* line 15, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_header.scss */
  .header .nav__box {
    display: flex;
    gap: 1.4rem; }
  /* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_header.scss */
  .header .nav__link {
    padding: .4rem .6rem;
    box-shadow: 1px 4px 10px #691E06;
    color: #fff;
    border-radius: 4px;
    font-family: "Righteous", cursive;
    font-size: 1.3rem; }
    /* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_header.scss */
    .header .nav__link:hover {
      background-color: #691E06;
      box-shadow: 1px 4px 10px #fff;
      transition: all .6s; }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_sobre.scss */
.sobre {
  background-image: url("../img/sobre/background-sobre.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  /* line 9, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_sobre.scss */
  .sobre .apresentacao__titulo {
    color: #fff;
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 2rem;
    font-family: "Aclonica", sans-serif;
    font-size: 60px; }
  /* line 18, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_sobre.scss */
  .sobre .logo__box {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  /* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_sobre.scss */
  .sobre .logo {
    width: 400px;
    margin: 0 auto; }
  /* line 29, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_sobre.scss */
  .sobre .img__detalhe {
    width: 200px; }
  /* line 33, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_sobre.scss */
  .sobre .sobre__info {
    background-image: url("../img/sobre/background-sobre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 8rem; }
  /* line 43, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_sobre.scss */
  .sobre .sobre__info__titulo {
    font-family: "Aclonica", sans-serif;
    color: #fff;
    font-size: 50px;
    text-align: center; }
  /* line 50, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_sobre.scss */
  .sobre .sobre__info__subtitulo {
    font-family: "Aclonica", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2rem; }
  /* line 57, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_sobre.scss */
  .sobre .sobre__info__desc {
    width: 700px;
    margin: 0 auto;
    font-family: "Blinker", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: .8rem;
    color: #000;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 4px 20px #000;
    backdrop-filter: 10px;
    border-radius: 6px; }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/festmusic/scss/_programacao.scss */
.programacao {
  background-color: #FFC76E;
  height: 100vh; }

/*# sourceMappingURL=main.css.map */