.programacao {
    background-color: $cor-section1;

       
        
        .prog__titulo {
            @include titulo-section;
        }

        .prog__btn {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;
        }

        .prog__btn__link {
            color: #fff;
            font-size: 2.4rem;
            background-color: $cor-header;
            font-family: $fonte-menu;
            padding: .2rem .6rem;
            border-radius: 10px;
            border: 2px solid #fff;
            cursor: pointer;

                &:hover {
                    background-color: $cor-btn;
                    transition: all .6s;
                }
        }

        .prog__cabecalho {
            background-image: url("../img/programacao/background-programação.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 100vh;
        }

        .prog__info {
            padding: 4rem 3rem;
            color: #fff;
            font-family: $fonte-corpo;
            font-size: 2rem;
            font-weight: bold;
            width: 800px;
            text-align: center;
            margin: 0 auto;
            // background: rgba(119, 0, 255, 0.418);
            // backdrop-filter: (10px);
        }

        .prog__cards {
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .linha {
            width: 300px;
        }

        .prog__img {
            width: 300px;
        }
}