/******** VARIÁVEIS CONFIG ********/
$cor-header: #1E0A5E;
$cor-fonte-menu: #FEB2BC;
$cor-section1: #5C0029;
$fonte-menu: 'Righteous', cursive;
$fonte-titulo: 'Aclonica', sans-serif;
$fonte-corpo: 'Blinker', sans-serif;


/******** RESET ********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

a {
    // display: block;
    text-decoration: none
}

/******** MIXINS ********/




/******** PÁGINA ********/
@import "header.scss";
@import "sobre.scss";
@import "programacao.scss";