/******** VARIÁVEIS CONFIG ********/
$cor-header: #F85A3E;
$cor-btn: #691E06;
$cor-section1: #FFC76E;
$fonte-menu: 'Righteous', cursive;
$fonte-titulo: 'Aclonica', sans-serif;
$fonte-corpo: 'Blinker', sans-serif;


/******** RESET ********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

a {
    // display: block;
    text-decoration: none
}

/******** MIXINS ********/




/******** PÁGINA ********/
@import "header.scss";
@import "sobre.scss";
@import "programacao.scss";